/* .transition-bandeau-continents {
  transform: translate(-50%);
  animation : apparition is forwards;
}  */


/* @keyframes apparition {
  from {
    top: -50px;
  }
  to {
    top : 50%;
  }
} */

#transition-bandeau-continents {
  overflow: hidden; 
  height: 0;
  transition : height is ease;
}

#transition-bandeau-continents.active {
  height : 50px;
}

.animation {
  opacity : 0;
  animation : fadeIn 6s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity : 1;
  }
}

