<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="static/style.css" rel="stylesheet" />
  <script defer src="static/app.js"></script>

  <title>Travel Agency</title>
</head>
<body>
  <header class="w-full h-16 bg-indigo-600 drop-shadow-lg">
      <!-- Header -->
      <div class="container px-4 md:px-0 h-full mx-auto flex justify-between items-center">
            
          <a class="text-yellow-400 text-xl font-bold italic" href="/">MAGIC
            <span class="text-white">TRAVEL</span>
          </a>
        <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
          md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
         <!-- nav search -->
          <input class="place-items-center" type="search" id="gsearch" name="gsearch">
        
          <!--Menu du header -->
          <nav>
            <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
              md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
            <!--bouton pour menu-->
              <li>
                  <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/login">Se connecter</a>
              </li>
              <li>
                <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/register">S'enregistrer</a>
              </li>
            
            <!-- Lien temporaire, pour naviguer entre les pages -->
              <li>
                <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/continent">Continent</a>
              </li>
             
            </ul>
          </nav>
        </ul>
      </div>
    <section id="transition-bandeau-continents">
      <div class="bg-indigo-400 px-36 py-2 text-lg" >
        <ul class="flex justify-between">
          <li> <a href="#"> Europe </a> </li>
          <li> <a href="#"> Asie </a> </li>
          <li> <a href="#"> Afrique </a> </li>
          <li> <a href="#"> Amérique </a> </li>
          <li> <a href="#"> Océanie </a> </li>
        </ul>
      </div>
      </section>
  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>
  <!-- intérieur du footer -->
  <footer>
    
  
    <div class="mx-6 py-10 text-center">
      <h6 class="mb-4 ml-14 flex items-center justify-center font-semibold uppercase md:justify-start"> Nos Meilleurs Destinations </h6>
      <section class="grid grid-cols-3">
        <!-- nos meilleurs destination -->
      <div class="flex justify-around">
        
        <!-- premier colonne -->
        <div class="mb-4  items-center justify-center">
          <p><a href="#!" class="mb-4">Les Maldives</a></p>
          <p><a href="#!" class="mb-4">Asie</a></p>
          <p><a href="#!" class="mb-4">Les Alpes</a></p>
          <p><a href="#!" class="mb-4">Brésil</a></p>

        </div>
       
        <!-- Useful links section -->
        <!-- seconde colonne -->
        <div>
          <p><a href="#!" class="mb-4">Italie</a></p>  
          <p><a href="#!" class="mb-4">Chicago</a></p>
          <p><a href="#!" class="mb-4">Indonésie</a></p>
          <p><a href="#!" class="mb-4">Océanie</a></p>
        </div>
      </div>
        
        <!-- newsletter -->
    
          <div class="flex space-x-6 px-4 py-12 mx-auto">

            <div>
              <form action="" method="post" target="_blank" class="justify-center">
                <input aria-label="Email address" name="EMAIL" type="email" required="" class="w-full px-9 py-3 text-base leading-6 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-md appearance-none focus:outline-none focus:shadow-outline focus:border-blue-300" placeholder="Enter your email">
              </form>
            </div>

            <div class="rounded-md">
              <button class="flex items-center justify-center w-full px-5 py-3 text-base font-medium text-white bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 ">
                Notify me
              </button>
            </div>

          </div>
     
        <!-- Contact section -->
        <div>
          <h6 class="mb-4 flex justify-center font-semibold uppercase"> Contact </h6>
          <p class="mb-4 flex items-center justify-center">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"></svg>
            </span>
            1428 Elm Street
          </p>
          <p class="mb-4 flex items-center justify-center">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"></svg>
            </span>
            info@travelAgency.com
          </p>
          <p class="mb-4 flex items-center justify-center">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"></svg>
            </span>
            + 3360101010101
          </p>
          <p class="flex items-center justify-center">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"></svg>
            </span>
            + 3360101010101
          </p>
        </div>
      </section>
    </div>

    <!--Copyright section-->
    <div class="bg-black/5 p-6 text-center">
      <p>
        <span>© 2024 Copyright:</span>
        <a class="font-semibold" href="/">TravelAgency</a>
      </p>
    </div>
    
</footer>
<!--fin du code-->

</body>
</html>