<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
  <body>
  <header class="w-full h-16 bg-indigo-600 drop-shadow-lg">
      <!-- Header -->
      <div class="container px-4 md:px-0 h-full mx-auto flex justify-between items-center">
            
          <a class="text-yellow-400 text-xl font-bold italic" href="/">MAGIC<span
                  class="text-white">TRAVEL</span></a>
        <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
          md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
         <!-- nav search -->
          <input class="place-items-center" type="search" id="gsearch" name="gsearch">
        
          <!--Menu du header -->
          <nav>
          <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
              md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
              </li>
            <!--bouton pour menu-->
              <li>
                  <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/login">Se connecter</a>
              </li>
              <li>
                <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/register">S'enregistrer</a>
            </li>
            
            <!-- Lien temporaire, pour naviguer entre les pages -->
            <li>
              <a class="text-white opacity-70 hover:opacity-100 duration-300" href="/continent">Continent</a>
            </li>
             
          </ul>
            </nav>
          </div>

  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>
  <!-- intérieur du footer -->
  <footer
    
  
    <div class="mx-6 py-10 text-center md:text-left">
      <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-4">
        <!-- nos meilleurs destination -->
        <div class="">
          <h6
            class="mb-4 flex items-center justify-center font-semibold uppercase md:justify-start">
              
            </span>
            Nos Meilleurs Destination
          </h6>
           <p class="mb-4">
          <p><a href="#!">Les Maldives</a></p>
           <p class="mb-4">
          <p><a href="#!">Asie</a></p>
           <p class="mb-4">
          <p><a href="#!">Les Alpes</a></p>
           <p class="mb-4">
          <p><a href="#!">Brésil</a></p>

        </div>
       
        <!-- Useful links section -->
        <div>
          <h6
            class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            .
          </h6>
          <p class="mb-4">
            <a href="#!">Italie</a>
          <p class="mb-4">
            <a href="#!">Chicago</a>
          </p>
          <p class="mb-4">
            <a href="#!">Indonésie</a>
          </p>
          <p>
            <a href="#!">Océanie</a>
          </p>
        </div>
        <!-- newsletter -->
        <div class="flex justify-center bg-gray-50 mt-40">
          <div class="max-w-screen-xl px-4 py-12 mx-auto sm:px-6 lg:py-16 lg:px-8">

            <form action="https://github.us3.list-manage.com/subscribe/post?u=6a33c422777aedd88e9a9488e&amp;id=9b99f013b8"
              method="post" target="_blank" class="justify-center mt-6 sm:flex">
              <input aria-label="Email address" name="EMAIL" type="email" required="" class="w-full px-9 py-3 text-base leading-6 text-gray-900 placeholder-gray-500 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-md appearance-none focus:outline-none focus:shadow-outline focus:border-blue-300 sm:max-w-xs" placeholder="Enter your email">
              <input type="hidden" value="8" name="group[27425][8]" id="mce-group[27425]-27425-3">
              <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
                <button class="flex items-center justify-center w-full px-5 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out bg-indigo-600 border border-transparent rounded-md hover:bg-indigo-500 focus:outline-none focus:shadow-outline">
                Notify me
              </button>
              </div>
            </form>
          </div>
        </div>
        <!-- Contact section -->
        <div>
          <h6
            class="mb-4 flex justify-center font-semibold uppercase md:justify-start">
            Contact
          </h6>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                
                
              </svg>
            </span>
            #
          </p>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
               
                
              </svg>
            </span>
            info@travelAgency.com
          </p>
          <p class="mb-4 flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                
              </svg>
            </span>
            + 3360101010101
          </p>
          <p class="flex items-center justify-center md:justify-start">
            <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor">
                
          
              </svg>
            </span>
            + 3360101010101
          </p>
        </div>
      </div>
    </div>

    <!--Copyright section-->
    <div class="bg-black/5 p-6 text-center">
      <span>© 2024 Copyright:</span>
      <a class="font-semibold" href="/"
        >TravelAgency</a
      >
    </div>
    
</footer>
<!--fin du code-->
  
</body>
</html>