<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
</head>
  <body>
  <header class="w-full h-16 bg-indigo-600 drop-shadow-lg">
      <!-- Header -->
      <div class="container px-4 md:px-0 h-full mx-auto flex justify-between items-center">
            
          <a class="text-yellow-400 text-xl font-bold italic" href="#">MAGIC<span
                  class="text-white">TRAVEL</span></a>
        <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
          md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
         <!-- nav search -->
          <input class="place-items-center" type="search" id="gsearch" name="gsearch">
        
            <!--Menu du header -->
          <ul id="menu" class="hidden fixed top-0 right-0 px-10 py-16 bg-gray-800 z-50
              md:relative md:flex md:p-0 md:bg-transparent md:flex-row md:space-x-6">
              </li>

              <li>
                  <a class="text-white opacity-70 hover:opacity-100 duration-300" href="login.html">Se connecter</a>
              </li>
              <li>
                <a class="text-white opacity-70 hover:opacity-100 duration-300" href="register.html">S'enregistrer</a>
            </li>
            
            <!-- Lien temporaire, pour naviguer entre les pages -->
            <li>
              <a class="text-white opacity-70 hover:opacity-100 duration-300" href="continent.html">Continent</a>
            </li>
             
          </ul>

          </div>

  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>
<footer>
  <div class="container">
    
</footer>

  
</body>
</html>