{% extends "base.html" %}

{% block content %}
{% for destination in destination %}
<!-- on code ici -->
<h1 class="font-semibold text-2xl text-center py-4">{{ destination['ville'] }}</h1>

<!-- partie de l'image -->
<p class="text-center text-lg pb-6">{{ destination['intro'] }}</p> 

<div class="flex justify-center">
  <img src="{{ destination['image'] }}" class="rounded-2xl" />
</div>

<!-- Partie des 2 textes -->
<section class="flex justify-around pt-8 px-12 2xl:px-24  space-x-8">
  <!-- partie texte de gauche -->
  <div class="border-2 border-indigo-300 rounded-lg p-4">
    <h2 class="font-semibold text-lg text-indigo-600 mb-2">Les sorties :</h2>
    <p>{{ destination['sortie'] }}</p>
  </div>
  <!-- partie texte de droite -->
  <div class="border-2 border-indigo-300 rounded-lg p-4">
    <h2 class="font-semibold text-lg text-indigo-600 mb-2">Les hôtels/ Vols :</h2>
    <p> {{ destination['hotel'] }}</p>
  </div>
</section>
{% endfor %}

{% endblock %}
