<!doctype html>
<html lang="en">
<head>    
<meta charset="UTF-8">   
<meta http-equiv="X-UA-Compatible" content="IE=edge">   
<meta name="viewport" content="width=device-width, initial-scale=1">  
<script src="https://cdn.tailwindcss.com/3.4.3"></script>
<body>
<div class="flex items-center justify-center min-h-screen bg-cover bg-center bg-no-repeat"
  style="background-image: url('https://source.unsplash.com/random/1920x1080?nature')">
  <div class="max-w-md mx-auto text-center bg-white bg-opacity-90 p-8 rounded-lg shadow-lg">
    <div class="text-9xl font-bold text-indigo-600 mb-4">404</div>
    <h1 class="text-4xl font-bold text-gray-800 mb-6">Oops! La page n'a pas été trouver</h1>
    <p class="text-lg text-gray-600 mb-8">La page est Partie en vacances. Prends des vacances pour la retrouver</p>
    <a href="/"
      class="inline-block bg-indigo-600 text-white font-semibold px-6 py-3 rounded-md hover:bg-indigo-700 transition-colors duration-300">
      Go Back Home
    </a>
  </div>
</div>   
</div>
</body>
</html>