{% extends 'base.html' %}

{% block content %}

<div class="text-center px-96 pt-10">
  {% if nom %}
  <h2 class="text-2xl font-semibold mb-4">Bonjour <span class="text-red-500">{{ nom }}</span></h2>
  {% else %}
  <h2 class="text-2xl font-semibold mb-4">Bonjour</h2>
  {% endif %}
  <p class="text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium architecto excepturi voluptas obcaecati facere natus et quidem? Eaque magnam inventore provident quos similique! A esse atque quasi ratione adipisci tempora ab nostrum dolorum doloribus est deleniti voluptatibus.</p>
</div>

    <section class="grid grid-cols-4 gap-20 p-10">
    {% for annonce in annonces %}
      <article class="border-yellow-200 bg-white boorder-solid border-2 rounded-xl p-3">
        <a href="/annonce/{{annonce['_id']}}">
          <h3 class="pb-1 uppercase text-lg font-bold text-center"> {{annonce['titre']}}</h3>
        </a>
        <hr>
        <p class="pt-1 py-1 text-sm font-semibold"> {{annonce['auteur']}}</p>
        <p>
          {{annonce['description']}}
        </p>
      </article>
      {% endfor %}
    </section>
{% endblock %}
