{% extends "base.html" %}

{% block content %}

{% if erreur %}
  {{erreur}}
{% endif %}

<form method="POST" action="" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <!-- champs ville -->
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Ville</label>
    <div>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="ville" value="{{lieu['ville']}}">
    </div>
  </div>
  <!-- champs continent -->
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2">Continent</label>
    <div>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="continent" value="{{lieu['continent']}}">
    </div>
  </div>
  <!-- champs intro -->
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Introduction</label>
    <div>
      <textarea rows="4" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="intro">{{lieu['intro']}}</textarea>
    </div>
 <!-- champs image --> 
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Image</label>
    <div>
      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="image" value="{{lieu['image']}}">
    </div>
  </div>
 <!-- champs sorties -->
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Les sorties</label>
    <div>
      <textarea rows="8" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="sortie">{{lieu['sortie']}}</textarea>
    </div>
  <!-- champs hotels -->
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2">Les hotels</label>
    <div>
    <textarea rows="8" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="hotel">{{lieu['hotel']}}</textarea>
    </div>    
  </div>
  <!-- bouton envoyer -->
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> Valider </button>
</form>
{% endblock %}